img{
    padding: 0;
    margin: 0;
     border-radius: 50%;
}
.row1{
   
    height: 150px;
    width: 25%;
    
background-color:yellowgreen;
    
    float: left;
}
.row2{
    background-color: green;
    width: 75%;
    height: 150px ;
    overflow: auto;
    padding: 0%;
   padding-left: 0%;
    
    float: right;

}
.second1{
    background-color: rgb(247, 247, 8);
    width: 75%;
    height: 150px ;
    overflow: auto;
    padding: 0%;
   padding-left: 0%;
    
    float: left;



}



.second2{
  background-color: rgb(204, 201, 19);
    width: 25%;
    height: 150px ;
    
    padding: 0%;
   padding-left: 0%;
    z-index: 0;
    float: right;

}
.heading{
    background-color: yellow;
    text-align: center;
    font-weight: bolder;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
    .dev1{
        background-color: rgb(61, 71, 73);
    }







    /*our staff style*/
    .rowc{
        background-color: rgb(226, 240, 240);
        display: flex;
        
    }
    .col{
        padding: 13px;
        margin-right: 0.2em;
      
        
        text-align: center;
        height: 323px;
          width: 25%;
          background-color: rgb(11, 103, 110);
        box-shadow :rgb(44, 59, 50) 5px 0px inset;
        overflow-y:auto;
        overflow-x: hidden;

    }
    .col:hover{
        background-color: yellow;
        
    }

    .content{
        margin-top: 2px;
        padding: 2px;
        color: rgb(19, 15, 24);
        
       
       
    }
    .img1{
        height: 60%;
        width: 55%;
        align-items: center;

    }
.h1{
text-align-last: center;
color: brown;
background-color: rgba(52, 168, 5, 0.815);

}




