rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Universal access rule for all collections in development & production
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
